name: Clear GHA caches manually
permissions: write-all
# This will cancel running jobs once a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
  - cron: "0 23 17 * *"
jobs:
  cache-clear:
    runs-on: ubuntu-latest

    steps:
    - uses: easimon/wipe-cache@main
